:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navyblue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-lightslate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-modal: #abacb3;
    --color-grey: #808080;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
  
    --shadow-text: #00000040;
    --shadow-box: #00000026;
  
    --shadow-side: #2e2f4214;
    --shadow-bottom: #2e2f4229;  
  }

  body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: .32px;
    color: var(--color-navyblue);
  }
  

.portfolio-logo{
  height: 24px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.166667;
  letter-spacing: .54px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-navyblue);
}

.portfolio-span{
    color: var(--color-iris);
}


.portfolio-logo{
    height: 24px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.166667;
    letter-spacing: .54px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-navyblue);
  }



  .portfolio-nav-list,
  .portfolio-contact-list{
    list-style: none ;
    text-decoration: none;

  }

  .portfolio-nav-list a,
  .portfolio-contact-list a{
    text-decoration: none;
    font-style: normal;
    color: var(--color-slate);
  }

  .nav-portfolio-list-item a,
  .portfolio-contact-list a{
    text-decoration: none;
    font-weight: 500;
  }

  /* navigation and contact hover effect */

  .portfolio-nav-list a:hover,
  .portfolio-nav-list a:focus,
  .portfolio-contact-list a:hover,
  .portfolio-contact-list a:focus{
    color: var(--color-ocean);

  }

 /* buttons effect */

 .buttons{
    list-style: none;
 } 

  .buttons a:hover,
  .buttons a:focus{
    color: var(--color-ocean);

  }

  /* .button-menu .link:visited{
    background: var(--color-navyblue);
  } */


 /* Apps feature effects */
 .apps-features{
    list-style: none;
 }

 /* footer section */

 .portfolio-footer-section{
    background-color: var(--color-navyblue);
 }

 .portfolio-footer-logo{
  height: 24px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.166667;
  letter-spacing: .54px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-cloud)
 }

 .portfolio-footer-logo-span{
    color: var(--color-iris);
 }

 .portfolio-footer-note{
    color: var(--color-cloud);
    width: 264;
    letter-spacing: .32px;
 }