body{
    font-family: 'Roboto';
    background-color: #FFF;
}



.web{
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    color: var(--iris, #4D5AE5);
          
}

.studio{
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    color: var(--navyblue, #2E2F42);
    
}

#ul-menu{
    list-style: none;
}



.mainborder{
    flex-shrink: 0;
    background: var(--navyblue, #2E2F42);
    

}

.effective-solutions{
    text-align: center;
    color: white;
}

.orderbutton{
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    color: white;
    cursor: pointer;
    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
    
}

.goals{
    font-family: Roboto;
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    
}

.what-are-we-doing-textalign {
    text-align: center;
}

.ourteam-border{
    background: var(--cloud, #F4F4FD);;
}


.ourteam-list {
    list-style: none;
    
}


.ourteam-textcenter{
    text-align: center;
}

.ourteam-center{
    text-align: center;
}

.productdesign{
    text-align: center;
}

.ourteam2-center {
    text-align: center;
}

.frontend-developer{
    text-align: center;
}

.ourteam3-center{
    text-align: center;
}

.marketing{
    text-align: center;
}

.ourteam4-center {
    text-align: center;
}

.ui-designer{
    text-align: center;
}



.border2{
    background: var(--cloud, #F4F4FD);
}

.border3{
    padding-top: 1rem;
    flex-shrink: 0;
    background: var(--navyblue, #2E2F42);
}


.footertext{
    font-family: Roboto;
    color:white;
}

.web2 {
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    color: #4D5AE5
}

.studio2 {
    background-color: navy;
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    color: white;

}